<div id="<%= dom_id todo_list %>">
  <div>
    <strong>Title:</strong>
    <%= todo_list.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= todo_list.description %>
  </div>

</div>
